.typography {
  &__paragraph {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: $white;
    margin-top: 0;
    // @include respond-to(tablet) {
    //   color: $transblack;
    // }
  }
  &__small {
    font-size: 8px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 0;
    color: $transblack;
    color: $white;
    // @include respond-to(tablet) {
    //   color: $transblack;
    // }
  }

  &__section-heading {
    font-size: 15px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 20px;
    color: $white;
    @include respond-to(tablet) {
      font-size: 25px;
      // color: $transblack;
    }

    em {
      color: $white;
      @include respond-to(tablet) {
        // color: $transblack;
      }
    }
  }
  &__sub-heading {
    font-size: 11px;
    color: $white;
    font-weight: 600;
    opacity: 1;
    margin-top: 0;
    text-transform: uppercase;
  }
}

strong {
  font-weight: 400;
  color: $black;
}

.typography__ordered-list {
  margin-left: 0;
  padding-left: 15px;
}

.typography__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.4;
  padding-bottom: 8px;
  @include link;
  color: $white;
  // @include respond-to(tablet) {
  //   color: $transblack;
  // }
}
