
.cell1, .cell2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.cell1 {
  max-width: 50vw;
  width: 50vw;
  min-width:50vw;
  position: fixed;
  left: 3vw;

}
.cell2 {
  flex-direction: column;
  max-width: 35vw;
  width: 30vw;
  min-width: 300px;
  left: 55vw;
  position: relative;
}
