.contents {
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
  top: 80px;
  height: auto;
  padding-bottom: 80px;
}

.cell-1, .cell-2 {
  min-width: 90%;
  width: 90%;
  max-width: 90%;
  position: relative;
  left: 0;
}

.cell-2 {
  margin-top: 20px;
}

.ep-artwork {
  animation: none;
  max-width: 95%;
  width: 95%;
}

.nav {
  justify-content: center;
}
.header {
  padding: 10px 0 0 0;
}