.bold {
  font-weight: bold;
}


.h1 {
  font-size: 12px;
  margin: 0;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  position: relative;
  flex: 1;
  display: flex;
  
  justify-content: center;
  width: 100%;
}
.h1:hover {
  opacity: 1;
  color: var(--var-highlight);
  transition: all 0.2s ease-in-out;
}

.h1 .nav-ul {
  visibility: hidden;
  height: 1px;
}

.h1:hover .nav-ul {
  visibility: visible;
  height: auto;

}
.h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.date {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.highlighted {
  color: var(--var-highlight);
}

.link {
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
.link:hover {
  color: var(--var-highlight);
  transition: all 0.2s ease-in-out;
}



.paragraph {
  font-size: 16px;
  line-height: 1.8;  
  font-weight: 400;
}

.paragraphLink {
  color: #fff;
  font-weight: bold;

}
.blockquote {
  font-weight: 100;
  line-height: 1.8;
  font-size: 12px;
  color: #95c6fc;
  font-style: italic;
  margin: 10px;
}

.read-more-btn {
  background: none;
  border:none;
  padding: 0;
}
.read-more {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.read-more.open {
  opacity: 1;
  visibility: visible;
  height: auto;
  transition: all 0.3s ease-in-out;
}


.secondaryText {
  color: rgba(255,255,255,0.5);
}
